
:root{
    font-family: 'Arial', sans-serif;
    --primary-color:  #3498db;
    --secondary-color:  #f39c12 ;
    --white: #FFFFFF;
    --lite-gray: #F7F7F7;
    --dark: #232830;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

/* backgrounds */
.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.slider {
    position: absolute;
    width: 100%;
    height: 600%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

.slider ul {
    display: flex;
    width: 600%;
    animation: slider 50s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img{
    background-size: cover;
}

/* element container */
.element-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
}

.element-container span {
    font-size: smaller;
    text-align: center;
    margin: 0 20px;
    padding: 4px;
    background-color: var(--lite-gray);
    border-radius: 12px;
    box-shadow:  1px 10px 25px rgba(0,0,0,0.5);
}

#logo {
    padding: 8px;
    background-color: var(--lite-gray);
    border-radius: 12px;
    box-shadow:  1px 10px 25px rgba(0,0,0,0.5);
}

#primary_btn {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    font-size: var(--sm);
    font-weight: bold;
    height: 50px;
    width: 50%;
    margin-top: 12px;
    margin-bottom: 28px;
    box-shadow:  1px 10px 25px rgba(0,0,0,0.5);
}

/* footer */
.footer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer {
    background-color: var(--dark);
    text-align: center;
    position: relative;
}

/* section: social media */
.social_media {
    display: grid;
    padding: 4px;
    padding-bottom: 0;
}

.social_media section {
    margin-bottom: 4px;
}

/* section: copyright */

.copyright {
    font-size: smaller;
    font-style: var(--white);
    text-align: center;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.2)
}

/* animations */
@keyframes slider {
    0%{margin-left: -0%;}
    25%{margin-left: -300%;}
    50%{margin-left: -600%;}
    75%{margin-left: -900%;}
    100%{margin-left: -1200%;}
}

@media only screen and (min-width:320px) and (max-width:768px){
    .slider, .slider ul, .slider img{
        height: 100vh;
        padding: 0;
        margin: 0;
    }
}